*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.homepage{ 
    margin-top: 50px;
}
.homepage .section3{
width:95%;
margin:0px 30px;
}

.homepage .section3 .row{
  /*  border:1px solid #ebebeb;*/
}

.homepage .section3 .row h3{
    border-bottom:1px solid #ebebeb;
    padding: 0 20px;

}
.homepage .section3 .row .col .block .content{
    display:grid;
    padding:20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-right: 30px;
    border:1px solid #ebebeb;

} 

.homepage .section3 .row .col .block{
    display:flex;
    justify-content: space-between;

}

.homepage .section3 .row .col .block .content .cart img{
    width:120px;
    padding:10px;
}
.homepage .section3 .row .col .block .content .cart a{
    text-decoration: none;
    color:black;
    font-size: 13px;
    
}
.homepage .section3 .row .col .block .content .cart a p{
    text-align: center;
}
.homepage .section3 .row .col .block .image{
    
    padding:60px 0px;
    padding-left: 20px;
}

.homepage .section3 .row .col .block .image img{
    width:80%;
}
.homepage .section {
    width:95%;
    margin: auto;
    margin: 30px 20px;
    
}

.homepage .section3 .row .col .block .image{
    margin-bottom: 50px;
    margin-top: 30px;
    
}
.homepage .section3 .row .col .block .image a{
    color:black;
    text-decoration: none;

}
.homepage .section3 .row .col .block .image a p{
    padding-left: 50px;
}
.homepage .section .row .col .block {
   display:flex; 
    
    

}
.homepage .section2 {
    background-image:url(" https://dev.swaminathan.navabrinditsolutions.com/static/media/BannerLeft.384dd2b14c9c429b3e77.svg;")

}
.homepage .section .row .col .block .details{
    border-left:10px solid green;
    
}
.homepage .section .row .col .block .details h3{
    padding-left: 10px;
    color:lightslategray;
    font-weight: 600px;
    text-transform: capitalize;

}
.homepage .section .row .col .block .details h2{
    text-transform: capitalize;
    font-size: 20px;
    padding-left: 10px;
    font-weight: 600px;
}
.homepage .section .row .col .block .details p{
    
width:80%;
line-height: 25px;
font-weight: 600px;
padding-left: 10px;
}
.homepage .section .row .col .block .logo h2{

    font-size: 30px;
    text-transform: capitalize;
}

.homepage .section .row .col .block .kavi {
    margin: 30px 0px;
    display:grid;
grid-template-columns: auto auto auto ;
grid-template-rows: auto auto;
    
    column-gap: 0px;
    
    
}

.homepage .section .row .col .block .kavi .image img{
    width:120px;
    padding-left: 70px;
}
.homepage .section .row .col .block .kavi .image img:hover{
    border:aqua;
}
.homepage .section .row .col .block .kavi .image h4{
    width:200px;
    justify-content: flex-start;
    text-transform: capitalize;
    font-size: 15px;
}
.homepage .section .row .col .block .kavi .image h4:hover{
    color:white;
}
.homepage .section .row .col .block .kavi .image{
    border:1px solid lavender;
    width:100px;
    padding:70px 0px;
    padding-left:80px;
    padding-right:250px;
    text-align: center;
}
.homepage .section .row .col .block .kavi .image:hover{
background-color:#641233;; 
border: 1px solid #ebebeb;
}
.homepage .section .row .col .block .kavi .image h4:hover{
   text-decoration-color:white;
    text-transform: capitalize;


}


.homepage .section2 {
    width:97%;
    margin:auto;
    
    
    

}
.homepage  .section2 .row .col .block .title h5{
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
    
}
.homepage .section2 .row .col .block .team{
    display:flex;
    height:50px;
    text-align: center;
    width:50px;
    background-image: url("https://dev.swaminathan.navabrinditsolutions.com/static/media/BannerRight.9facaa87e25b672c42fc.svg");
    
    
    
    
}

.homepage .section2 .row .col .block .info{
    border:1px solid lavender;
    text-align: center;
    width:100%;
    height:40vh;
    line-height: 20px;
    position:relative;
    
}
.homepage .section2 .row .col .block .info span{
    display: flex;;
}


.homepage .section2 .row .col .block .info span .svg {
    column-gap: 1px;
    padding-top: 200px;
    font-size: 1px;
}
.homepage .section2 .row .col .block .info .date{
    padding:15px 0px;
}
.homepage .section2 .row .col .block .info  h3{
    text-transform: capitalize;
}
.homepage .section2 .row .col .block .info p{
    padding:0px 20px; 
}
.homepage .section2 .row .col .block .info .image h4{
    width:80px;
    height:80px;
 font-size: 20px; 
 border-radius: 50px;  
 border:1px solid lavender;
text-align: center;

padding: 20px 0px;
background-color: #641233;
color:white;

}
.homepage .section2 .row .col .block .info .image{
    width:100px; 
    height:100px;
    border-radius: 50px;
    padding-left: 140px;
    padding-bottom: 20px;

    

    

}
@media screen and (min-width:1200px) and (max-width:1532px){
    .homepage{
    width:100%;
    margin-right: 1px;
    }
}
@media screen and (min-width:900px) and (max-width:1240px){
    .homepage{
    width:250%;
    margin-right: 1px;
}
.homepage .section .row .col .block {
    display:flex; 
    column-gap: 10px;
     
     
 
 }
 .homepage .section .row .col .block .kavi .image{
    border:1px solid lavender;
    width:250px;
    padding:70px 0px;
    padding-left:80px;
    padding-right:250px;
    text-align: center;
}
.homepage .section .row .col .block .logo h2{
    color:black;
    font-size: 30px;
    text-transform: capitalize;
}
.homepage .section .row .col .block .details h3{
    padding-left: 10px;
    color:lightslategray;
    font-weight: 600px;
    text-transform: capitalize;

}
.homepage .section .row .col .block .details h2{
    text-transform: capitalize;
    font-size: 40px;
    color:black;
    padding-left: 10px;
    font-weight: 600px;
}
.homepage .section .row .col .block .details p{
    
width:70%;
line-height: 25px;
font-weight: 600px;
padding-left: 10px;
}
}
@media screen and (min-width:600px) and (max-width:900px){

    .homepage{
        width:200%;
        margin-right: 1px;
    }
    .homepage .section .row .col .block .logo h2{
        color:black;
        font-size: 30px;
        text-transform: capitalize;
    }
    .homepage .section .row .col .block .details h3{
        padding-left: 10px;
        color:lightslategray;
        font-weight: 600px;
        text-transform: capitalize;
    
    }
    .homepage .section .row .col .block .details h2{
        text-transform: capitalize;
        font-size: 40px;
        color:black;
        padding-left: 10px;
        font-weight: 600px;
    }
    .homepage .section .row .col .block .details p{
        
    width:70%;
    line-height: 25px;
    font-weight: 600px;
    padding-left: 10px;
    }
}
@media screen and (min-width:400px) and (max-width:600px){
    .homepage{
    width:180%;
    }
    .homepage .section .row .col .block .logo h2{
        color:black;
        font-size: 30px;
        text-transform: capitalize;
    }
    .homepage .section .row .col .block .details h3{
        padding-left: 10px;
        color:black;
        font-weight: 600px;
        text-transform: capitalize;
    
    }
    .homepage .section .row .col .block .details h2{
        text-transform: capitalize;
        font-size: 15px;
        color:black;
        padding-left: 10px;
        font-weight: 600px;
        width:40%;
    }
    .homepage .section .row .col .block .details p{
        
    width:40%;
    line-height: 25px;
    font-weight: 600px;
    padding-left: 10px;
    }
    .homepage .section .row .col .block {
        display: flex;
        flex-direction: row;
        column-gap: 0px;
 
        
         
         
     
     }
    .homepage .section .row .col .block .kavi {
        margin: 30px 0px;
        display:flex;
        flex-direction: column;
        margin-right: 200px;
        
        
    }
        
        
    
}
@media screen and (min-width:0px) and (max-width:480px){
    .homepage{
        width:100%;
        }
        .homepage .section .row .col .block {
            display:flex; 
            flex-direction: column;
             
             
         
         }
         .homepage .section2 {
            width:17%;
            margin:auto;
            
            
            
        
        }
        .homepage .section .row .col .block .kavi {
            margin: 30px 0px;
            display:flex;
            flex-direction: column;
            
            
        }
    
    .homepage .section .row .col .block .kavi {
        margin: 30px 0px;
        display:flex;
        flex-direction: column;
        
        
    }
    .homepage .section .row .col .block .details h3{
        padding-left: 10px;
        color:black;
        font-weight: 600px;
        text-transform: capitalize;
    
    }
    .homepage .section .row .col .block .details h2{
        text-transform: capitalize;
        font-size: 15px;
        color:black;
        padding-left: 10px;
        font-weight: 600px;
        width:10%;
    }
}


    


















































































































































